.blue {
	
	
	background-color: #2B78AF;
	overflow: hidden;
}
.top-left {
	padding: .5em;
	overflow: hidden;
	float: left;
}
.logo {
	height: 1.875em;
	width: 2em;
	margin left: .5em;
	margin right: auto;
	margin top: 0.5em;
	background-color: white;
	float: left;
}
.site {
	height: 1.875em;
	width: 7.25em;
	margin-left: 4em;
	background-color: white;
	float: left;
}
.log {
	height: 3em;
	width: 4.6em;
	background-color: #1E5D90;
	float: right;

}
.navy {
	height: 69em;
	background-image: url(https://s1.wp.com/home.logged-out//images/pic-crowd.webp?2);
	padding-bottom: 2em;
}
h1 {
	height: 10em;
	width: 12em;
	margin: auto;
	box-sizing: border-box;
	text-align: center;
	color: white;
	padding-top: 5em;
}
h3 {
	height: 2em;
	width: 20em;
	margin: auto;
	box-sizing: border-box;
	text-align: center;
	color: white;
	padding-bottom: 4em;

}
.button {
	height: 3em;
	width: 2em;
	margin: 0 auto;
	padding-left: 7em;
	padding-right: 7em;
	padding top: 5em;
	border-color: black;
	background-color: #2B78AF;
	border: 10px solid black;
	
	color: white;
	
}


.tiny {
	height: 1em;
	width: 2em;
	background-color: white;
	margin: 8em auto 12em;

}







.white-1 {
	height: 4.25em;
	width: 18.75em;
	margin: 1.75em auto;

}
.ready {
	height: 1.8em;
	width: 15em;
	color: white;
	font: bold;
}
.download {
	height: 1.8em;
	width: 15em;
	color: white;
}
.white-2 {
	height: 4.25em;
	width: 18.75em;
	margin: 1em auto;
	

}
.freshly {
	height: 1.8em;
	width: 15em;
	color: white;
}
.strong {
	height: 1.8em;
	width: 15em;
	color: white;
	font-size: 10px;
}
.white-3 {
	height: 4.25em;
	width: 18.75em;
	margin: 1.75em auto;
	
}
.hundreds {
	height: 1.8em;
	width: 15em;
	color: white;
}
.find {
	height: 1.8em;
	width: 15em;
	color: white;
}
.left {
	height: 3.6em;
	width: 3em;
	margin-top: .6em;
	margin-right: .6em;
	background-color: #505B6B;
	

}
.left-padder {
	padding: .1em 0 0 0;
}
.right {
	height: 3.6em;
	margin-right: .25em;
	width: 15em;
	
	
	float: right;

}
.silver {
	height: 16.75em;
	background-color: #E4ECF2;
	padding-top: 4em;


}
.motto {
	font-size: 2.25em;
	font-family: verdana;
	text-align: center;
	margin: 0;
}
.gray {
	padding-top: 0.5em;
	background-color: #C7C9CD;
	padding-bottom: 0.5em;
}
.white-4 {
	padding-top: 1.25em;
	padding-bottom: 3.25em;
	margin-top: 2em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	background-color: white;
}
.middle-1 {
	height: 3.75em;
	width: 3.75em;
	margin-bottom: 0.625em;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
	background-color: #BCC6CD;
}
.middle-2 {
	height: 1.35em;
	
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
	color: #435063;

}
.middle-3 {
	height: 3em;
	
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
	color: #435063;
}
.silver-2 {
	
	background-color: #E4ECF2;
	padding-top: 10em;
	padding-bottom: 2em;
}
.tag {
	height: 3em;
	width: 12em;
	background-color: #2F79AD;
	margin: auto;

}
.black {
	padding-top: 3em;
	padding-bottom: 1.5em;
	background-color: black;
}
.words {
	
	padding-bottom: 1em;
	margin: auto;
	padding-top: 1em;
	text-align: center;

}

span {
	color: white;
	margin: 0 0.5em;
	text-decoration: none;

}
.square {
	height: 1.5em;
	width: 8em;
	background-color: white;
	margin: auto;

}

.white-6{
	padding-top: 1.25em;
	padding-bottom: 2.25em;
	margin-top: 2em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 2em;
	background-color: white;
}



















